@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

td {
  @apply px-4 py-2 text-sm text-gray-800 text-center;
}

th {
  @apply h-10 px-4 py-2 text-center text-sm font-semibold text-gray-700;
}

h1 {
  @apply text-lg font-semibold!;
}

h2 {
  @apply text-base py-2! font-semibold! text-center!;
}

.separator {
  @apply border-b border-gray-200 py-2.5! px-1! h-15! w-full!;
}