# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# SQLite database
datasets/*.db
datasets/*.csv

# CSV / Excel files
data/raw/*
data/clean/*

# IDE / Editor files
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Mac / Linux system files
.DS_Store
*.bak

# Logs
*.log
